.select {
    margin-top: 178px;
    text-align: center;

    &__heading {
        margin: 0;
        padding: 0;
        font-family: 'Roboto';
        font-size: 54px;
        font-weight: 700;
        line-height: 64px;
        padding-bottom: 1px;
        color: #12100C;
    }

    &__del {
        margin: 0;
        padding: 0;
        width: 1077px;
        font-family: 'Roboto';
        font-size: 54px;
        font-weight: 400;
        line-height: 64px;
        color: #999795;
    }

    &__heading1 {
        margin: 0;
        padding: 0;
        font-family: 'Roboto';
        font-size: 54px;
        font-weight: 700;
        line-height: 64px;
        color: #12100C;
    }
}

@media only screen and (max-width: 550px) {
    .select__heading {
        font-size: 35px;
    }

    .select__del {
        font-size: 35px;
    }

    .select__heading1 {
        font-size: 35px;
    }
}